<div style="background:lightgrey;">
<mat-grid-list cols="3">
  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" style="margin-top: -110px">
  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
  <mat-card>
  <mat-card-header>
  </mat-card-header>
  <img src="../assets/images/trade.png">
  <mat-divider></mat-divider>
  <mat-card-content>
  <div style="display:flex; justify-content: space-between; padding-top: 20px;padding-left: 20px; padding-right: 20px;">
  <div style="">
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">$22.2</div>
  <div style="display: flex;align-items: center;margin-left: -8px;color: green;font-weight: 600;font-family: 'Roboto'; font-size:'14px'"><mat-icon>arrow_upward</mat-icon>5.0%</div>
  </div>
  <div style="font-weight: 600;font-family: 'Roboto'; font-size:'14px'">
  <div>David's Best Buy</div>
  <div>New Stock</div>
  </div>
  </div>
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
